* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.section-nav {
    width: 100%;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box-nav {
    overflow: hidden;
    position: relative;
}

#myLinks {
    display: none;
    position: fixed;
    margin-top: 23px;
    width: 100%;
}
  
.icon-hamburguer {
    color: black;
    text-decoration: none;
    font-size: 4em;
    display: block;
    margin-left: 2rem;
}

.link-nav {
    color: #F1F1F4;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 2.2em;
    display: block;
    text-align: center;
    background-color: rgb(70, 130, 180);
}

.link-nav:hover {
    background-color: #ddd;
    color :black;
}

.button-nav {
    background-color: #12D692;
    width: 17rem;
    height: 4.5rem;
    border: none;
    border-radius: 13px;
    font-size: 23px;
    font-weight: 400;
    color: #F1F1F4;
    margin-right: 2rem;
}

.box-background-blue {
    background-color: #182D7C;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.box-text-blue {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-one {
    font-size: 2.2em;
    color: #F1F1F4;
    margin: 6rem 0;
}

.text-main-blue {
    width: 85%;
    font-size: 6.5em;
    color: #F1F1F4;
}

.background-notbook {
    background-image: url(assets/pcei.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 70%;
    height: 56rem;
    margin-top: 10rem;
}

.details-notbook {
    width: 18rem;
    position: relative;
    bottom: 3rem;
    left: 19rem;
}

.text-box-blue-2 {
    display: flex;
    justify-content: center;
}

.paragraph-blue {
    font-size: 2em;
    color: #F1F1F4;
    width: 93%;
    line-height: 5rem;
    margin-left: 2rem;
    margin-top: 2rem;
    margin-bottom: 20rem;
}

.box-text-first-main {
    display: flex;
    flex-direction: column;
}

.title-box-firt {
    color: #12D692;
    font-size: 2.8em;
    width: 100%;
    font-weight: 500;
    margin-top: 6rem;
    margin-bottom: 6rem;
    text-transform: capitalize;
    padding: 2rem;
}

.subtitle-box-firt {
    font-size: 4.8em;
    width: 76%;
    font-weight: 500;
    margin-left: 2rem;
}

.paragraph-box-firt {
    font-size: 2em;
    width: 95%;
    margin-bottom: 6rem;
    margin-top: 6rem;
    margin-left: 2rem;
}

.section-slide-vuejs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-image-Vuejs {
    width: 80%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}

.image-vuejs {
    width: 49.5rem;
}

.box-text-vuejs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}

.title-vuejs {
    font-weight: 400;
    font-size: 3.5em;
}

.paragraph-vuejs {
    font-size: 2.5em;
    width: 70%;
    line-height: 7rem;
}

.box-description-vuejs {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.box-small-image-and-description {
    width: 31%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.logo-text-vuejs {
    width: 4rem;
}

.description-logo {
    font-weight: 600;
    font-size: 1.5em;
}

.box-circle {
    width: 38%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 6rem;
    margin-bottom: 8rem;
}

.image-circle-black-1 {
    background-color: black;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 1rem;
}

.image-circle-black {
    background-color: black;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
}

.box-what-is-luv {
    width: 80%;
    height: 132vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 7rem;
}

.text-question-luv {
    color: #A4DAF2;
    font-size: 3em;
    font-weight: 600;
}

.title-luv {
    font-size: 4em;
    width: 85%;
}

.paragraph-luv {
    font-size: 2.5em;
    line-height: 5rem;
    font-weight: 300;
}

.background-exemple-vue {
    background-image: url(assets/linha-de-código.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 80%;
    height: 117vh;
    margin-top: 5rem;
    margin-left: 7rem;
    margin-bottom: 12rem;
}

.box-associate-program {
    width: 80%;
    height: 99vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 7rem;
}

.title-associate-program {
    color: #A4DAF2;
    font-size: 3.5em;
    font-weight: 600;
}

.subtitle-associate-program {
    font-size: 5em;
    width: 76%;
    font-weight: 400;
}

.paragraph-associate-program {
    font-size: 2.5em;
    line-height: 5rem;
    font-weight: 300;
}

.box-images-vuejs {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 5rem 0;
}

.logos-vuejs {
    width: 33%;
    height: 19rem;
}

.logos-vuejs-1 {
    width: 35%;
    height: 10rem;
}

.box-background-blue-second-part {
    background-color: #183A9C;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.box-text-second-part-blue {
    margin-top: 6rem;
    width: 80%;
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.title-testimonial {
    color: #9FB4EB;
    font-size: 3.5em;
    font-weight: 600;
}

.subtitle-testimonial {
    color: #F1F1F4;
    font-size: 3.5em;
    line-height: 6rem;
    font-weight: 600;
}

.paragraph-testimonial {
    color: #9FB4EB;
    font-size: 3em;
    width: 84%;
    line-height: 5rem;
    font-weight: 400;
}

.paragraph-testimonial-second {
    color: #F1F1F4;
    font-size: 3em;
    width: 84%;
    line-height: 4.5rem;
    font-weight: 600;
}

.container-person-name-job {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-individually-person {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5rem;
}

.person {
    width: 13rem;
}

.name-job {
    display: flex;
    flex-direction: column;
}

.name {
    color: #9FB4EB;
    font-size: 2.8em;
}

.job {
    color: #9FB4EB;
    font-size: 2.2em;
    font-weight: 300;
}

.image-circle-white-1 {
    background-color: white;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 1rem;
}

.image-circle-white {
    background-color: white;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
}

.box-text-start-learning {
    width: 80%;
    height: 48vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.title-start-learning {
    color: #F1F1F4;
    font-size: 4em;
}

.subtitle-start-learning {
    color: #F1F1F4;
    font-size: 3.5em;
    line-height: 6rem;
    font-weight: 600;
}

.paragraph-start-learning {
    color: #F1F1F4;
    font-size: 2.9em;
}

.container-buy-cursor-slide {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-buy-cursor {
    background-color: #F1F1F4;
    width: 80%;
    height: 73vh;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 50px;
}

.box-title-cursor {
    width: 100%;
    height: 10vh;
    margin-top: 5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.title-buy-cursor {
    font-size: 4em;
    font-weight: 400;
}

.value-buy-cursor {
    color: aquamarine;
    font-size: 4em;
    margin-top: 3rem;
    font-weight: 400;
}

.box-points-buy-cursor {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-evenly;
    height: 45vh;
    margin-top: 5rem;
    margin-left: 8rem;
}

.item-buy-cursor {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2rem;
}

.image-ok-buy-cursor {
    width: 6rem;
}

.description-buy-cursor {
    font-size: 2.6em;
    margin-left: 2rem;
}

.box-button-buy-cursor {
    display: flex;
    justify-content: center;
}

.button-buy-cursor {
    background-color: #12D692;
    width: 80%;
    height: 9rem;
    color: #F1F1F4;
    font-size: 2.4em;
    border: none;
    border-radius: 15px;
    position: relative;
    top: 4rem;
}

.box-circle-buy {
    width: 38%;
    display: flex;
    justify-content: space-evenly;
    margin: 16rem 0;
}

.container-before-footer {
    width: 100%;
    height: 87vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.title-before-footer {
    font-size: 5em;
    line-height: 7rem;
    font-weight: 500;
    width: 68%;
}

.paragraph-before-footer {
    font-size: 3em;
    width: 69%;
    line-height: 5.5rem;
    font-weight: 400;
    margin-bottom: 5rem;
}